.section-3{
	overflow: auto;
	margin-bottom: 1em;
}
.search-form{
/* 	margin-top: 30px; */
}
#proteinListForm input{
	padding: 0;
	padding-left: 5px;
}
.search-condition-1{
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	margin-bottom: 10px;
}
 .search-condition-1>div{
	display: inline-block;
	float: left;
	margin-right: 50px;
}
.perCount span{
	display: inline-block;
    float: left;
}
 .search-condition-1 .jumpPage input{
	height: 25px;
	width: 55px;
	float: left;
    display: inline-block;
    margin: 7px;
}
 .search-condition-1 .jumpPage a{
    float: left;
    display: inline-block;
}
 .search-condition-1 select{
	padding: 0;
	width: initial;
	height: 25px;
	padding: 0;
    margin: 7px;
	float: left;
    display: inline-block;
}
 .list-title{
	padding: 2px 0;
	overflow: hidden;
	color: #fff;
	background: rgb(55,123,181);
	font-weight: bold;
}
 .list-title ul li{
	display: inline-block;
	float: left;
	font-size: 18px;
	text-align: center;
	margin-left:5px;
	line-height: 40px;
	white-space: nowrap;
}
 .list-title ul li span{
	display: block;
	line-height: 27px;
}
 .width-1,
 .width-1{
	width: 50px;
}
.width-1 span{
	display: inline-block;
    color: #fff;
    cursor: pointer;
    background: rgb(68,157,67);
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    padding-top: 2px;
    padding-left: 2px;
}
#proteinListForm .width-2{
	width: 80px;
}
#proteinListForm .width-3{
	width: 80px;
}
#proteinListForm .width-4{
	width: 70px;
}
#proteinListForm .width-5{
	width: 65px;
}
#proteinListForm .width-6{
	width: 205px;
}
#proteinListForm .width-7{
	width: 205px;
}
#proteinListForm .width-8{
	width: 205px;
}
#proteinListForm .width-9{
	width:90px ;
}
#proteinListForm .width-10{
	width: 90px;
}


#mRnaListForm .width-2{
	width: 165px;
}
#mRnaListForm .width-3{
	width: 165px;
}
#mRnaListForm .width-4{
	width: 365px;
}
#mRnaListForm .width-5{
	width: 365px;
}
#mRnaListForm .width-6{
	width: 55px;
	
}
#m6AListForm .width-2{
	width: 120px;
}
#m6AListForm .width-3{
	width: 120px;
}
#m6AListForm .width-4{
	width: 365px;
}
#m6AListForm .width-5{
	width: 365px;
}
#m6AListForm .width-6{
	width: 150px;
}


.form-inline  .search-condition-2{
	overflow: hidden;
	margin: 10px 0;
}
.form-inline  .search-condition-2 .form-group{
	margin-left: 5px;
	float: left;
}
.form-inline  .search-condition-2 button{
	width: inherit;
	height: 33px;
}
.form-inline .search-condition-2 input{
	width: inherit;
}
.form-inline  .result-ans{
	margin-top: 5px;
}
.form-inline  .result-ans table tr{
	height: 39px;
	line-height: 39px;
	border-top: 1px solid #ccc;
}
.form-inline  .result-ans table tr:nth-child(even){
	background: #D9EDF7;
}
.form-inline .result-ans table tr:last-child{
	border-bottom:1px solid #ccc ;
}
.form-inline  .result-ans table tr td{
	text-align: center;
	display: inline-block;
	float: left;
	height: inherit;
	cursor: pointer;
	margin-left:5px;
	font-size: 18px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.form-inline  .result-ans table tr td:hover{
	text-decoration: underline;
	-webkit-text-decoration-color: rgb(55,123,181);
	-o-text-decoration-color: rgb(55,123,181);
	-moz-text-decoration-color: rgb(55,123,181);
	text-decoration-color: rgb(55,123,181);
}
.form-inline .result-ans table tr td.td-detail{
	width: 100%;
	height: auto;
	background: #fff;
	display: none;
	margin: 0;
}
.result-ans tr td.td-detail>div{
	clear: both;
}
.result-ans tr td.td-detail>div{
	border-bottom: 1px solid #ccc;
}
.result-ans tr td.td-detail>div>div{
	display: inline-block;
	float: left;
}
.result-ans tr td.td-detail>div>div.detail-left{
	width: 150px;
	text-align:left;
	text-indent: 20px;
	font-weight: bold;
}
.result-ans tr td.td-detail>div.quantification .detail-left,
.result-ans tr td.td-detail>div.locus .detail-left{
	line-height: 82px;
}
.result-ans tr td.td-detail>div>div.detail-right{
	width: 1050px;
}
.result-ans tr td.td-detail>div>div.detail-right .detail-span{
	width: 12.45%;
	display: inline-block;
	float: left;
}
.result-ans tr td.td-detail>div>div.detail-right .detail-span>div{
	height: 40px;
}
.result-ans tr td.td-detail>div>div.detail-right .detail-span .span-key{
	background: #5BC0DE;
	border-right: 1px solid #fff;
	color: #fff;
	margin-top:2px;
}
.result-ans tr td.td-detail>div.hcdMassSpectra img{
	margin: 10px 0;
}
/*提示化工具*/
.tooltip.top .tooltip-arrow{
	border-top-color:rgb(55,123,181) ;
}
.tooltip-inner{
	max-width: 250px;
	font-size: 16px;
	background-color: rgb(55,123,181);
}

 .search-nav{
	overflow: hidden;
	margin-top: 20px;
}
 .search-nav nav{
	background: none;
	width: 295px;
	min-width: 295px;
	height: auto;
	float: left;
	display: inline-block;
	
}
 .search-nav nav ul{
	margin: 0;
}
 .search-nav nav ul li a.on{
	background: rgb(55,123,181);
	color: #fff;
}
 .search-nav>div{
	float: right;
	display: inline-block;
}
 .search-condition-1>div:last-child{
	margin-right: 0;
}
@media screen and (min-width:1260px){
	footer{
		width: 100%;
		overflow: hidden;
	}
	footer .main-wrap{
		width: 1200px;
	}
}
/*.modal-body table{
	width: 100%;
}
.modal-body table .quantification>div,
.modal-body table .locus>div{
	width: 12.5%;
	display: inline-block;
	float: left;
}
.modal-body table .locus>div{
	width: 30%;
}
.modal-body table .quantification>div span,
.modal-body table .locus>div span{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 100%;
}
.modal-body table tr{
	border-bottom: 1px solid #ccc;
}
.modal-body table tr td:first-child{
	font-weight: bold;
}
.modal-body table tr td{
	text-align: center;
	height: 40px;
}*/


